extends layout.pug

block content
  main
  h1.visually-hidden Регистрация пользователя
  section.modal
    .popup.popup--registration
      button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно')
        | Закрыть
        | окно
      h2.visually-hidden Форма входа
      li.popup__tab.popup__tab--log-in
      .popup__form.popup__form.form.form--log-in
        form(action='/login' method='post')
          .form__field
            label
              input(type='email' name='email' placeholder='Электронная почта' required='')
          .form__field
            label
              input(type='password' name='password' placeholder='Пароль' required='')
          +insertErrorMessage(validationMessages)
          button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
    .modal__overlay
